@import "./reset.css";
@import "./tokens.css";

:root {
  background-color: var(--color-background);
  color: var(--color-content);
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  font-size: 110%;
}

button,
.button {
  display: inline-flex;
  flex-shrink: 0;
  background-color: var(--color-background);
  font-family: var(--font-family);
  gap: var(--space-100);
  align-items: center;
  justify-content: center;
  height: 44px;
  padding-inline: var(--space-200);
  font-weight: 500;
  font-size: var(--font-size-050);
  border-radius: var(--radius-medium);
  text-decoration: none !important;
  color: var(--color-content-secondary);

  & > svg {
    width: var(--font-size-200);
    flex-shrink: 0;
  }

  &.square {
    width: 44px;
    padding: 0;
  }

  &:hover {
    background-color: var(--color-background-hover);
    color: var(--color-content);
  }

  &:active {
    background-color: var(--color-background-active);
  }
}

a {
  text-decoration-line: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;

  &:hover {
    text-decoration-line: none;
  }
}

p {
  font-size: var(--font-size-100);
  margin-block-end: var(--space-300);
  line-height: var(--line-height-large);
  max-width: 600px;
}

span {
  font-size: var(--font-size-050);
}

li {
  font-size: var(--font-size-100);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-400);
}

h2 {
  font-size: var(--font-size-300);
}

h3 {
  font-size: var(--font-size-200);
}

ol {
  margin-inline-start: var(--space-200);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.bordered {
  border: 1px solid var(--color-border);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.label,
label {
  color: var(--color-content-secondary);
  font-size: var(--font-size-050);
  font-weight: 400;
  line-height: var(--line-height-large);
  display: block;
  margin-bottom: var(--space-100);
}

.caption {
  color: var(--color-content-secondary);
  font-size: var(--font-size-050);
  font-weight: 400;
}
