*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
ol,
li,
hr,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

button {
  color: unset;
  background-color: unset;
  appearance: none;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  appearance: none;
}
