---
import { getCollection } from "astro:content";
import RootLayout from "@/layouts/RootLayout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import ProjectList from "@/components/ProjectList.astro";
import Section from "@/layouts/Section.astro";

const pageTitle = "Projetos";
const projects = await getCollection("projects");
---

<RootLayout pageTitle={pageTitle}>
  <Section>
    <h1 slot="header">{pageTitle}</h1>
    <ProjectList projects={projects} variant="list" />
  </Section>
</RootLayout>
