---
import type { AboutData, WorkData } from "@/data/types";
import aboutData from "@/data/about.json";
import workData from "@/data/work.json";
import RootLayout from "@/layouts/RootLayout.astro";
import Section from "@/layouts/Section.astro";
const pageTitle = "Sobre";

const { basics } = aboutData as AboutData;
const { work } = workData as WorkData;
---

<RootLayout pageTitle={pageTitle}>
  <Section>
    <h1 slot="header">Sobre</h1>
    <p>{basics.summary}</p>
  </Section>
  <Section>
    <h1 slot="header">Experiência</h1>
    <ul>
      {
        work.map((work) => (
          <li>
            <h2>{work.name}</h2>
            <span class="caption">{work.position}</span>
          </li>
        ))
      }
    </ul>
  </Section>
</RootLayout>
