---
import RootLayout from "@/layouts/RootLayout.astro";
const pageTitle = "Sobre mim";
---

<RootLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    sdf fA FdASD adaçk dghsçd ahgsld AYDGasçkl gHAD kASGDKASLD gASDkasJGD as
  </p>
</RootLayout>
