---
import Page from "@/layouts/Page.astro";
const pageTitle = "Sobre mim";
---

<Page pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    sdf fA FdASD adaçk dghsçd ahgsld AYDGasçkl gHAD kASGDKASLD gASDkasJGD as
  </p>
</Page>
