---
import Wrapper from "@/layouts/Wrapper.astro";
import Link from "./Link.astro";
---

<footer class="footer">
  <Wrapper>
    <span class="credits">
      Esse site foi desenhado no <Link href="https://figma.com" isExternal
        >Figma</Link
      >, desenvolvido com <Link href="https://astro.build" isExternal
        >Astro</Link
      > e hospedado no
      <Link href="https://cloudflare.com" isExternal>Cloudflare</Link>. Os
      ícones são do <Link href="https://feathericons.com/" isExternal
        >Feather</Link
      > e a fonte é da família <Link
        href="https://github.com/googlefonts/geologica"
        isExternal>Geologica</Link
      >.
    </span>

    <div class="footnote">
      <span>2026 © Ray Zaranza</span>
      <nav class="links">
        <Link href="https://linkedin.com/in/rayzaranza" isExternal
          >Linkedin</Link
        >
        <Link href="https://github.com/rayzaranza" isExternal>GitHub</Link>
        <Link href="mailto:ray@zaranza.com.br">Email</Link>
      </nav>
    </div>
  </Wrapper>
</footer>

<style>
  .footer {
    margin-top: 96px;
    font-size: var(--font-size-050);
    color: var(--color-content-secondary);
  }

  .credits {
    display: block;
    max-width: 640px;
    margin-bottom: var(--space-600);
    line-height: var(--line-height-large);
  }

  .links {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footnote {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px 64px;
  }
</style>
