---
import Wrapper from "@/layouts/Wrapper.astro";
---

<footer class="footer caption">
  <Wrapper>
    <span class="credits">
      Esse site foi desenhado no <a target="_blank" href="https://figma.com"
        >Figma</a
      >, desenvolvido com <a target="_blank" href="https://astro.build">Astro</a
      > e hospedado no <a target="_blank" href="https://cloudflare.com"
        >Cloudflare</a
      >. Os ícones são do <a target="_blank" href="https://feathericons.com/"
        >Feather</a
      > e a fonte é da família <a
        target="_blank"
        href="https://github.com/googlefonts/geologica">Geologica</a
      >.
    </span>

    <div class="footnote">
      <span>2026 © Ray Zaranza</span>
      <nav class="links">
        <a target="_blank" href="https://linkedin.com/in/rayzaranza">Linkedin</a
        >
        <a target="_blank" href="https://github.com/rayzaranza">GitHub</a>
        <a target="_blank" href="mailto:ray@zaranza.com.br">Email</a>
      </nav>
    </div>
  </Wrapper>
</footer>

<style>
  .footer {
    margin-top: 96px;
  }

  .credits {
    display: block;
    max-width: 580px;
    margin-bottom: var(--space-600);
    line-height: var(--line-height-large);
  }

  .links {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footnote {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px 64px;
  }
</style>
