---
import ProjectImage from "./ProjectImage.astro";

interface GalleryImage {
  src: ImageMetadata;
  alt: string;
  caption?: string;
}

interface Props {
  images: GalleryImage[];
}

const { images } = Astro.props;
---

<ul class="gallery">
  {
    images.map((image) => (
      <li>
        <ProjectImage src={image.src} alt={image.alt} caption={image.caption} />
      </li>
    ))
  }
</ul>

<style>
  .gallery {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    margin-top: var(--space-400);
    margin-bottom: var(--space-600);
    max-width: unset;
    margin-inline: 0 !important;
    list-style: none !important;
  }
</style>
