---
import Wrapper from "@/layouts/Wrapper.astro";
import ModeToggle from "./ModeToggle.astro";
import Link from "./Link.astro";
const isActive = (page: string) => Astro.url.pathname.startsWith(page);
---

<header>
  <Wrapper class="wrapper">
    <div class="info">
      <Link aria-hidden="true" isInline={false} href="/"
        ><span class="title">Ray Zaranza</span></Link
      >
      <span>Desenvolvedor · Designer</span>
    </div>

    <nav class="menu">
      <Link href="/projetos" isActive={isActive("/projetos")} isInline={false}
        >Projetos</Link
      >
      <Link href="/sobre" isActive={isActive("/sobre")} isInline={false}
        >Sobre</Link
      >
    </nav>

    <ModeToggle />
  </Wrapper>
</header>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--space-200);
    color: var(--color-content-secondary);
  }

  .title {
    font-weight: 700;
    font-size: var(--font-size-100);
    color: var(--color-content);
    text-decoration-line: none;
    &:hover {
      text-decoration-line: underline;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .menu {
    display: none;
    align-items: center;
    gap: var(--space-300);
    font-size: var(--font-size-050);
    text-decoration-line: none;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: transparent;
  }

  @media screen and (min-width: 576px) {
    .wrapper {
      grid-template-columns: 1fr auto auto;
    }

    .menu {
      display: flex;
    }
  }
</style>
