---
import Wrapper from "@/layouts/Wrapper.astro";
import ModeToggle from "./ModeToggle.astro";
import Link from "./Link.astro";
import Menu from "./Menu.astro";
---

<header class="header">
  <Wrapper>
    <div class="info">
      <Link aria-hidden="true" isInline={false} href="/"
        ><span class="title">Ray Zaranza</span></Link
      >
      <span class="caption">Desenvolvedor · Designer</span>
    </div>
    <Menu />
  </Wrapper>
</header>

<style>
  .header > :global(.wrapper) {
    display: grid;
    align-items: center;
    gap: var(--space-200);
    color: var(--color-content-secondary);
    grid-template-columns: 1fr auto;
    @media screen and (min-width: 576px) {
      grid-template-columns: 1fr auto auto;
    }
  }

  .title {
    font-weight: 700;
    font-size: var(--font-size-100);
    color: var(--color-content);
    text-decoration-line: none;
    &:hover {
      text-decoration-line: underline;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
</style>
