---
import { ChevronUpIcon } from "astro-feather";
import { isActionError } from "astro:actions";

type Route = "/" | "/projetos" | `projetos/${string}` | "/sobre";

interface Props {
  href: Route | string;
  className?: string;
  isExternal?: boolean;
  isActive?: boolean;
  isInline?: boolean;
}

const {
  href,
  isExternal = false,
  isActive = false,
  isInline = true,
  className,
} = Astro.props;
---

<a
  class:list={["link", isInline && "inline", className]}
  aria-current={isActive}
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  data-astro-prefetch={isExternal && "false"}
>
  <slot />
</a>

<style>
  .link {
    display: inline-flex;
    align-items: center;
    color: var(--color-content-secondary);
    font-size: var(--font-size-050);
    gap: var(--space-050);
    text-decoration-line: none;
    font-weight: 500;
    position: relative;

    &:hover {
      color: var(--color-content);
      text-decoration-line: underline;
    }
  }

  .link[aria-current="true"] {
    color: var(--color-content);
    font-weight: 600;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.3px;
    text-decoration-line: underline;
  }

  .active-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    color: var(--color-content-secondary);
    top: var(--space-200);
    inset-inline: 0;
    left: 0px;
    rotate: 0deg;
  }

  .inline {
    text-decoration-line: underline;

    &:hover {
      color: var(--color-content);
      text-decoration-line: none;
    }
  }
</style>
