---
import { SunIcon, MoonIcon } from "astro-feather";
---

<button
  class="mode-toggle bordered"
  aria-label="Alterar modo de cores"
  title="Alterar modo de cores"
  data-mode-toggle
>
  <MoonIcon customClasses="icon dark" />
  <SunIcon customClasses="icon light" />
  <span class="light">Claro</span>
  <span class="dark">Escuro</span>
</button>

<script>
  function handleToggle() {
    const toggle = document.querySelector("[data-mode-toggle]");
    toggle?.addEventListener("click", () => {
      const newMode =
        localStorage.getItem("mode") === "dark" ? "light" : "dark";
      localStorage.setItem("mode", newMode);
      document.documentElement.dataset.mode = newMode;
    });
  }

  handleToggle();
  document.addEventListener("astro:after-swap", handleToggle);
</script>

<style>
  .mode-toggle {
    @media screen and (min-width: 576px) {
      width: 6rem;
      padding: var(--space-150);
      text-align: left;
      line-height: 1;
      font-weight: 400;
      font-size: var(--font-size-050);
    }
  }

  :root[data-mode="dark"] :global(.light) {
    display: none;
  }
  :root[data-mode="light"] :global(.dark) {
    display: none;
  }
</style>
