---
import RootLayout from "./RootLayout.astro";
import Wrapper from "./Wrapper.astro";
import { ArrowLeftIcon } from "astro-feather";

const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;
---

<RootLayout pageTitle={pageTitle}>
  <Wrapper>
    <header class="header">
      <a href="/"><ArrowLeftIcon /> voltar</a>
      <span class="caption">Projetos</span>
      <h1>{pageTitle}</h1>
    </header>
    <main>
      <slot />
    </main>
  </Wrapper>
</RootLayout>

<style>
  .header {
    margin-block: var(--space-200);
  }
</style>
