---
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="pt-BR" transition:name="root" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-family" preload />
    <title>{pageTitle} · Ray Zaranza — Desenvolvedor · Designer</title>
    <ClientRouter />
    <script is:inline>
      function setMode() {
        const mode = localStorage.getItem("mode");
        if (mode) document.documentElement.dataset.mode = mode;
      }
      setMode();
      document.addEventListener("astro:after-swap", setMode);
    </script>
  </head>

  <body id="body">
    <Header />
    <main transition:name="main" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <script src="@/scripts/menu"></script>
  </body>
</html>

<style>
  #body {
    display: grid;
    min-height: 100svh;
    grid-template-rows: auto 1fr auto;
  }
</style>
